.people {
	padding-left: 50px;
	padding-right: 15px;
}
.people .add-person {
	align-items: center;
	display: flex;
	justify-content: center;
}
.people .add-person input {
	border: 1px solid #e5e5e5;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px;
	width: 200px;
}
.people .add-person input:focus {
	outline: none;
}
.people .add-person svg {
	background-color: #f6f6f6;
	border: 1px solid #e5e5e5;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #333;
	cursor: pointer;
	height: 30px;
	padding: 5px 2px;
	width: 30px;
}