* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.btn {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
}
.btn-black-full {
  background-color: #333;
  border-color: #333;
  color: white;
}
.btn-black-full:hover {
  background-color: white;
  color: #333;
}
.btn-black-empty {
  background-color: white;
  border-color: #333;
  color: #333;
}
.btn-black-empty:hover {
  background-color: #333;
  color: white;
}